body ,html{

    height: 100%;

}

#wrapper{

    width: 960px;
    margin: 0px auto;
    border-bottom: 1px solid #968a8a;
    padding: 8px 0px;


}
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
 background: #111;
 font-family: "Open Sans",  Impact;
}






ul li{

    list-style: none;

}
   
#logo{

    float: left;


}

#logo img{

    height: 100%;
    width: auto;

}

ul#main_menu{

    float: right;

}

ul#main_menu li{

    float: left;

}

ul#main_menu li a{

    padding: 10px  20px;
    text-decoration: none;
    color: dimgray;
    text-transform: uppercase;

}

body{

    background-repeat: no-repeat;
    background-image: url(img/background.jpg);
    background-attachment: fixed;
    height: 100%;
    background-position: center;
    background-size: cover;
    font-size: 23px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.clearfix{

    clear: both;

}

@media screen and (min-width:600px){



}

#content{

    width: 1000px;
    height: auto;
    margin: 0px auto;
    padding: 12px 20px;

}

#content img{


    height: 100%;
    width: 100%;

}
/* Page Team Text Decoration */
.area {
    text-align: center;
    font-size: 1.5em;
    color: #fff;
    letter-spacing: 0px;
    font-weight: 1000;
    text-transform: uppercase;
    animation: blur .75s ease-out infinite;
    text-shadow: 0px 0px 5px #fff, 0px 0px 7px #fff;
    text-decoration: none;
  }
  
  @keyframes blur {
    from {
      text-shadow:0px 0px 10px #fff,
        0px 0px 10px #fff, 
        0px 0px 25px #fff,
        0px 0px 25px #fff,
        0px 0px 25px #fff,
        0px 0px 25px #fff,
        0px 0px 25px #fff,
        0px 0px 25px #fff,
        0px 0px 50px #fff,
        0px 0px 50px #fff,
        0px 0px 50px #7B96B8,
        0px 0px 150px #7B96B8,
        0px 10px 100px #7B96B8,
        0px 10px 100px #7B96B8,
        0px 10px 100px #7B96B8,
        0px 10px 100px #7B96B8,
        0px -10px 100px #7B96B8,
        0px -10px 100px #7B96B8;
    }
  }
/* Page Team Text Decoration */
  
  